.genresBlock {
  width: 100%;
  max-width: 160px;
  height: 100%;
  min-height: 450px;
  padding: 14px 0;
  background-color: #232527;
  border-radius: 20px;
}

.genresList {
  li {
    font-size: 1rem;
		border-radius: 3px;
		transition: background-color .1s ease;

		&:hover {
			background-color: #35383a;
		}

    button {
			width: 100%;
      padding: 7px 15px 6px 15px;
      text-align: right;
    }
  }
}
