.cart {
	&Content {

	}

	&Empty {
		text-align: center;
		padding-top: 20px;

		img {
			margin-bottom: 15px;
		}

		span {
			font-size: 1.8rem;
			font-weight: 600;
			display: block;
		}
	}

	&Total {
		margin-top: 45px;
		max-width: 440px;
	}
}