.inCartBtn {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 0.7rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding-top: 1px;
  background: linear-gradient(45deg, #415cd1, #324bb9);
  box-shadow: 0 1px 10px #3e54b4;
  transition: box-shadow 0.1s ease;

  &:hover {
    box-shadow: 0 1px 15px #516ada;
  }

  &Cart {
    background: linear-gradient(45deg, #1db83f, #12a131);
    box-shadow: 0 1px 10px #1bb33c;

    &:hover {
      box-shadow: 0 1px 15px #26c949;
    }
  }
}
